<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="com.lavoryk.dima" android:versionCode="2">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
	<application android:label="MyNewProject" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>